{% extends "blog/base.html" %}

{% block title %}
{% if object %}
    Edit Post
{% else %}
    New Post
{% endif %}
{% endblock %}


{% block content %}

<div class="container mt-4">

    <h1 class="mb-4">
        {% if object %}
            Edit Post
        {% else %}
            New Post
        {% endif %}
    </h1>


    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
    {% endif %}


    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}

        {% for field in form %}

            <div class="mb-3">

                {{ field.label_tag }}

                {{ field }}


                {% if field.errors %}
                    <div class="text-danger small">
                        {{ field.errors|striptags }}
                    </div>
                {% endif %}

            </div>

        {% endfor %}


        <!-- Image Preview -->

        <div class="mb-3">

            <img
                id="preview"
                style="max-width: 200px; display: none;"
                class="rounded"
                alt="Image Preview"
            >

        </div>


        <button type="submit" class="btn btn-success">
            Save
        </button>

    </form>

</div>


<script>

const fileInput = document.querySelector('input[type="file"]');

if (fileInput) {

    fileInput.addEventListener('change', function(event) {

        const preview = document.getElementById('preview');

        if (event.target.files.length > 0) {

            preview.src = URL.createObjectURL(
                event.target.files[0]
            );

            preview.style.display = 'block';

        } else {

            preview.style.display = 'none';

        }

    });

}

</script>

{% endblock %}